body{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;

}
h1{
    font-size: 2.5rem;
    line-height: .5em;
    text-align: center;
    color: rgb(226, 77, 57);
}

h3{
    color: rgb(226, 77, 57);
    text-align: right;
}
p{
    margin-bottom: 1.6em;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.header {
    background: #333;
    color: white;
    padding: .9rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

}

.header a {
    color: blanchedalmond;
    text-decoration: none;
}
.logoNavContainer {
display: flex;
justify-content: space-between;
align-items: center;

}
.navigation ul{
margin: 0%;
padding: 0;
list-style: none;

}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1.5rem;

    transition: all 0.4s linear;
    border-radius: 6px;

}
.navigation ul li  a:hover {
    background: #4a4a4a;

    }
.main{
    padding-top: 12rem;

    }


.footer{
    background: #f2f2f2;
    padding: 1rem 0;
    margin-top: 4rem;
    text-align: center;

}
.divpar{
    background-color: rgb(191, 236, 236);
    width: 400px;
    height: 200px;
    border: #333 solid;
}

.divimpar{
    background-color: rgb(174, 195, 241);
    width: 400px;
    height: 200px;
    border: 1px #333 solid;
}